@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    width: 100%;
    height: 500vh;
    background-color: #101630;
}

/* Start of home */

.home {
    margin-bottom: 100px;
}

/* Beginning of navigation bar */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    height: 100px;
    font-size: 30px;
}

/* this is for logo icon */
.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo i {
    font-size: 40px;
    padding-right: 1px;
    color: #4A33C4;
}

/* these are for tags */
.nav-tag {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.highlight {
    color: #4A33C4;
}

.nav-tag a {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 40px;
    transition: .3s;
}

.nav-tag a:hover {
    color: #4B8DD7;
}

.nav-btn {
    margin-top: 7px;
    align-items: center;
}

/* this is for the button */
.btn {
    margin: 10px 40px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
}

.btn:hover {
    background-position: right center;
}

.btn1 {
    background-image: linear-gradient(to right, #4B8DD7 0%, #4C60C4 51%, #4A33C4 100%);
}

/* End of navigation bar */

.home-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-top: 130px;
    margin-bottom: 300px;
}

/* Middle text changing */
.txt1 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.662);
    letter-spacing: 3px;
}

.txt2 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 50px;
    margin-top: 10px;
    letter-spacing: 3px;
}

.txt3 {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #4B8DD7 0%, #4C60C4 51%, #4A33C4 100%);
    border-radius: 8px;
}

/* End of home */

/* About section */
.about {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* image editing */
.about-body-img img {
    margin-top: 50px;
    height: 450px;
    border-radius: 10px;
}

.about-body-img {
    position: relative;
}

.about-body-img::after {
    content: '';
    position: absolute;
    top: 90px;
    right: -30px;
    height: 85%;
    width: 98%;
    border: 7px solid #4B8DD7;
    border-radius: 5px;
    z-index: -1;
}

/* end of image editing */

.about-body-txt {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.bigtxt {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.para {
    margin: 10px 0;
    width: 800px;
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.662);
}

/* About button styling */
.about-btn {
    margin-top: 50px;
}

.about-btn a,
.prj-btn a {
    margin-left: -5px;
    padding: 15px 70px;
    font-size: 25px;
    font-weight: 600;
}

.about-btn a:hover {
    text-decoration: underline;
}

.btn2 {
    border: 1px solid;
    border-color: #4A33C4;
}

/* End of about button styling */
/* End of about section */

/* Portfolio section */
.pbox {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.phead,
.ser-head,
.exp-head,
.cot-head {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

/* Portfolio navigation setup */
.pnav {
    display: flex;
    justify-content: space-around;
    margin: 60px 400px;
}

.pnav-txt {
    font-size: 15px;
    font-weight: 600;
}

/* end of navigation */

/* Body Project Sizing */
.pbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project1,
.project2,
.project3,
.project4 {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

/* Left Column text side */
.ptitle {
    font-size: 35px;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    color: #4B8DD7;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 20px #00fbff;
}

.psubhead {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
}

.ptxt {
    width: 500px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.662);
    line-height: 25px;
    margin-bottom: 20px;
}

.pbtn {
    display: flex;
}

.pbtn i {
    font-size: 20px;
}

.pbtn a {
    text-decoration: none;
    font-size: 13px;
    padding: 0 40px;

}

/* Left Column End */

/* Right Column image side */
.proj-img img {
    width: 400px;
    border-radius: 10px;
}

.proj-img {
    position: relative;
    margin: 0 50px;
}

.proj-img::after {
    content: '';
    position: absolute;
    top: 50px;
    left: -30px;
    height: 85%;
    width: 98%;
    border: 10px solid #4B8DD7;
    border-radius: 8px;
    z-index: -1;
}

/* End of Right Column */

.prj-btn {
    margin-top: 50px;
}

/* End of Portfolio Section */

/* Service Section */
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.ser-head {
    margin-right: 40px;
    margin-bottom: 40px;
}

.ser-box {
    display: flex;
    flex-direction: row;
}

.sectionUp,
.sectionDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ser-box-border {
    width: 400px;
    background: radial-gradient(circle at 100% 100%, #101630 0, #101630 3px, transparent 3px) 0% 0%/11px 11px no-repeat,
        radial-gradient(circle at 0 100%, #101630 0, #101630 3px, transparent 3px) 100% 0%/11px 11px no-repeat,
        radial-gradient(circle at 100% 0, #101630 0, #101630 3px, transparent 3px) 0% 100%/11px 11px no-repeat,
        radial-gradient(circle at 0 0, #101630 0, #101630 3px, transparent 3px) 100% 100%/11px 11px no-repeat,
        linear-gradient(#101630, #101630) 50% 50%/calc(100% - 16px) calc(100% - 22px) no-repeat,
        linear-gradient(#101630, #101630) 50% 50%/calc(100% - 22px) calc(100% - 16px) no-repeat,
        linear-gradient(310deg, #48abe0 0%, rgba(39, 128, 238, 0.9) 50%, rgba(76, 0, 255, 0.77) 100%);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px #4C60C4;
    border-radius: 11px;
    padding: 18px;
    margin: 30px 30px;
}

/* Header of the single service box */
.Vd-head {
    padding: 20px 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.Mb-head {
    display: flex;
    padding: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.Vd-head i {
    font-size: 30px;
    color: #4A33C4;
    padding: 10px 13px 5px 13px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}

.Mb-head i {
    font-size: 40px;
    color: #4A33C4;
    padding: 10px 13px 0 13px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}

/* End of Header Service box */

/* Service low text box */
.Vd-txt,
.Mb-txt {
    color: rgba(255, 255, 255, 0.662);
    font-size: 15px;
    padding: 0 20px;
}

/* End of Service low text box */

/* Experience Section Start */
.exp {
    margin-top: 100px;
}

.exp-head {
    margin-bottom: 70px;
}

.ubox,
.lbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Service Imgae Style (Shit! I hate to do this) */
.exp-logo {
    display: flex;
    justify-content: space-around;
    width: 900px;
    align-items: center;
}

.exp-logo img {
    margin: 0 60px;
    width: 8%;
    height: 13%;
}

.exp-status {
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sta-txt {
    margin: 20px 88px;
    text-transform: uppercase;
}

.sta-txt1 {
    text-align: center;
    margin: 20px 80px;
    text-transform: capitalize;
}
/* End of Experience Section */

/* Contact Section */
.contact {
    margin-top: 100px;
    background-image: linear-gradient(to right,#4934C1 0%, #4E9DD6 100%);
    border: 1px solid none;
    border-radius: 100px 100px 0 0;
}

.cot-body {
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

/* Left side of the Body */
.cot-body-txt {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cot-body-txt p {
    color: rgba(255, 255, 255, 0.662);
    font-size: 10px;
    width: 300px;
    line-height: 20px;
}

/* Contact Information left column */
.cot-info {
    display: flex;
    flex-direction: column;
}

.txt-siz i {
    font-size: 20px;
    margin-right: 20px;
    padding: 10px 15px 5px;
    margin-bottom: 10px;
    border: 2px solid none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #4b8cd780 0%, #4c60c484 51%, #4b33c445 100%);
    box-shadow: 0 0 10px #07011f;
}

.txt-siz {
    font-size: 14px;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

/* Column Right Part Form */
form {
    width: 300px;
    padding: 14px;
    border: 1px solid none;
    border-radius: 10px;    
    background-image: linear-gradient(to right, #4B8DD7 0%, #4C60C4 51%, #4A33C4 100%);
}

form input {
    color: rgba(255, 255, 255, 0.662);
    background-color: #101630;
    border-style: none;
    border-radius: 3px;
    width: 270px;
    height: 40px;
    margin-bottom: 10px;
}

#msg {
    padding: 20px 0 80px;
}

.cot-btn {
    border: 1px solid none;
    border-style: none;
    border-radius: 5px;
    background-color: #101630;
    padding: 7px 35px;
    font-size: 16px;
    text-transform: capitalize;
}

hr {
    margin-top: 20px;
    margin-left: 120px;
    width: 1400px;
    background-color: #fff;
}

.cot-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.fot-icon {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 30px;
}

.fot-icon i{
    font-size: 38px;
    padding-right: 1px;
}

.cpyr {
    display: flex;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    margin-left: 80px;
}